:root {
   --dark: #66433b;
   --light: #f5e7c0;
}

body {
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: var(--light);
   color: var(--dark);
   margin: 0;
}

#game-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
}

.board-container {
   position: relative;
   width: 80vh;
   height: 80vh;
   display: grid;
   grid-template-columns: 7% 1fr 7%;
   grid-template-rows: 7% 1fr 7%;
   border: 3px solid var(--dark);
   background-color: var(--light);
}

#board {
   background-color: blue;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: 1fr;
   border: 3px solid var(--dark);
}

.lettersRow {
   display: grid;
   grid-column: 1/-1;
   justify-items: center;
   align-items: center;
   grid-template-columns: repeat(8, 1fr);
   padding: 0 7% 0 7%;
}

.numbersCol {
   display: grid;
   grid-template-rows: repeat(8, 1fr);
   align-items: center;
   justify-items: center;
}

.coordinate {
   color: var(--dark);
   font-size: 1.3rem;
   user-select: none;
}

.board-col {
   display: grid;
   grid-template-rows: repeat(8, 1fr);
}

.square {
   position: relative;
   cursor: crosshair;
   display: flex;
   align-items: end;
   justify-content: start;
   font-size: 1.2rem;
   padding: 2px;
}

.square.dark {
   color: var(--light);
   background-color: var(--dark);
}

.square.light {
   color: var(--dark);
   background-color: var(--light);
}

.square::after,
.square::before {
   transition: all ease-in-out 300ms;
   font-family: FontAwesome;
   font-size: 3rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
}

.square.start::after,
.square.knight::after {
   color: rgb(24, 24, 24);
   content: '\f441';
   display: block;
   transition: ease-in-out 300ms;
   /* animation: fadeIn ease-in 1s; */
}

.square.knight-path::after {
   content: '\f441';
   display: block;
   opacity: 0.5;
}

.square.end::before {
   content: '\f192';
   display: block;
}

#board:not(#board.knight-placed) .square:hover::after {
   content: '\f441';
   display: block;
   opacity: 50%;
   transition: ease-in-out 300ms;
}

#board.knight-placed:not(#board.target-placed)
   .square:not(.square.start):hover::before {
   content: '\f192';
   display: block;
   opacity: 50%;
}

.side-bar {
   width: 300px;
   align-self: stretch;
   display: grid;
   grid-template-rows: auto auto 1fr auto;
   align-content: start;
   gap: 1rem;
   padding: 1rem 1rem 0 1rem;
}

.side-bar li {
   height: 1.6rem;
}

.buttons {
   display: grid;
   grid-template-columns: auto 1fr auto;
   gap: 2rem;
}

i {
   pointer-events: none;
}

#go-btn,
#reset-btn,
.repository {
   outline: none;
   border: none;
   background-color: var(--light);
   color: var(--dark);
   height: 3rem;
   width: 2rem;
   font-size: 2rem;
   cursor: pointer;
}

.repository {
   display: flex;
   align-items: center;
   text-decoration: none;
   justify-self: flex-end;
}

#result {
   text-wrap: wrap;
}

h2,
h3,
p {
   margin: 0;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@media only screen and (max-width: 750px) {
   html {
      font-size: 80%;
   }
   body {
      padding: 0;
      height: auto;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding-top: 2.5vw;
   }

   #game-container {
      width: 95vw;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: start;
   }

   .board-container {
      width: 95vw;
      height: 95vw;
      display: grid;
   }

   .side-bar {
      padding: 0;
      width: auto;
      display: grid;
      gap: 1rem;
      grid-template-rows: auto auto 1fr;
      column-gap: 2rem;
   }

   .buttons {
      order: -1;
   }

   .title {
      grid-column: 1/-1;
   }

   #result ol {
      height: 4rem;
      display: flex;

      justify-content: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
   }

   #result li {
      width: 7rem;
   }

   .square::after,
   .square::before {
      font-size: 2rem;
   }
}
