:root {
   --dark: #66433b;
   --light: #f5e7c0;
}

body {
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: var(--light);
   color: var(--dark);
}

#game-container {
   display: flex;
   align-items: stretch;
   justify-content: center;
   gap: 2rem;
}

.board-container {
   width: 600px;
   height: 600px;
   display: grid;
   grid-template-columns: 50px auto 50px;
   grid-template-rows: 50px auto 50px;
   border: 4px solid var(--dark);
   background-color: var(--light);
}

#board {
   background-color: blue;
   display: grid;
   grid-template-rows: repeat(8, 1fr);
   grid-template-columns: 1fr;
   border: 3px solid var(--dark);
}

.lettersRow {
   display: grid;
   grid-column: 1/-1;
   justify-items: center;
   align-items: center;
   grid-template-columns: repeat(8, 1fr);
   padding: 0 50px 0 50px;
}

.numbersCol {
   display: grid;
   grid-template-rows: repeat(8, 1fr);
   align-items: center;
   justify-items: center;
}

.coordinate {
   color: var(--dark);
   font-size: 1.3rem;
   user-select: none;
}

.board-row {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
}

.square {
   position: relative;
   cursor: crosshair;
   display: flex;
   align-items: center;
   justify-content: center;
}

.square.dark {
   color: var(--light);
   background-color: var(--dark);
}

.square.light {
   color: var(--dark);
   background-color: var(--light);
}

.square::after,
.square::before {
   font-family: FontAwesome;
   font-size: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
}

.square.start::after {
   color: rgb(24, 24, 24);
   content: '\f441';
   display: block;
}

.square.end::before {
   content: '\f192';
   display: block;
}

#board:not(#board.knight-placed) .square:hover::after {
   content: '\f441';
   display: block;
   opacity: 50%;
}

#board.knight-placed:not(#board.target-placed)
   .square:not(.square.start):hover::before {
   content: '\f192';
   display: block;
   opacity: 50%;
}

.side-bar {
   display: grid;
   grid-template-rows: auto auto 1fr auto;
   align-content: start;
}

.side-bar li {
   height: 1.3rem;
}

.buttons {
   display: flex;
   /* flex-direction: column; */
   gap: 1rem;
}

#go-btn,
#reset-btn {
   outline: none;
   border: none;
   background-color: var(--light);
   color: var(--dark);
   height: 3rem;
   width: 2rem;
   font-size: 2rem;
   cursor: pointer;
}
